.c-breadcrumbs {
	padding: 0 px-to-rem(24);

	@include media-min($app-screen-desktop) {
		padding: 0;
	}

	&__list {
		display: flex;
		margin-bottom: px-to-rem(18);
		margin-top: px-to-rem(31);

		@include media-min($app-screen-desktop) {
			margin-top: px-to-rem(40);
			margin-bottom: px-to-rem(26);
		}

		&-item {
			display: flex;
			cursor: pointer;
			height: px-to-rem(18);

			&-link {
				display: inline-block;
				margin-right: px-to-rem(8);
				font-weight: 400;
				font-size: $app-font-size-xs;
				line-height: $app-line-height-sm;
				text-decoration: none;
			}

			&-icon {
				display: inline-block;
				margin-right: px-to-rem(14);
				transform: rotate(90deg);
				font-size: px-to-rem(12);
			}
		}
	}
}