.c-input {
	background: $app-color-tertiary;
	padding: px-to-rem(19) px-to-rem(16);
	font-weight: 400;
	font-size: $app-font-size-sm;
	line-height: $app-line-height-sm;
	height: px-to-rem(56);
	width: px-to-rem(256);
	border: none;
	outline: none;

	&--search {
		border-radius: $app-radius $app-radius 0 0;
		padding-right: px-to-rem(36);

		&::-webkit-search-cancel-button {
			display: none;
			-webkit-appearance: none;
		}
	}
}

.c-input-search-wrapper {
	position: relative;

	i {
		position: absolute;
		right: px-to-rem(17);
		top: px-to-rem(19);
	}
}

.c-select-wrapper {
	position: relative;
	width: 100%;
	height: px-to-rem(56);
	margin-bottom: px-to-rem(16);
	max-width: px-to-rem(288);

	@include media-min($app-screen-desktop) {
		margin-bottom: px-to-rem(21);
	}

	.c-select__label {
		position: absolute;
		top: px-to-rem(4);
		left: px-to-rem(16);
		font-weight: 400;
		font-size: $app-font-size-xxs;
		line-height: $app-line-height-sm;
		color: $app-color-dark-grey;
	}

	.c-select {
		display: block;
		padding: px-to-rem(26) px-to-rem(16) px-to-rem(12);
		font-style: normal;
		font-weight: 400;
		font-size: $app-font-size-sm;
		line-height: $app-line-height-sm;
		color: $app-color-text;
		background-color: $app-color-white;
		background-clip: padding-box;
		border: none;
		width: 100%;
		height: px-to-rem(56);
		background: $app-color-white;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-bottom: $app-border-primary;
		outline: none;
	}

	&::after {
		content: "\f078";
		font-family: "Font Awesome 6 Free";
		font-weight: 600;
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
		pointer-events: none;
		font-size: px-to-rem(15);
	}

	&:focus {
		border-color: transparent;
		outline: 0;
	}
}

.c-checkbox {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	box-sizing: border-box;
	margin-bottom: px-to-rem(14);
	font-size: $app-font-size-sm;
	font-weight: 400;
	line-height: $app-line-height-stack;

	@include media-min($app-screen-desktop) {
		margin-bottom: px-to-rem(12);
		height: px-to-rem(20);
		line-height: px-to-rem(20);
	}

	&--desktop-spacing {
		@include media-min($app-screen-desktop) {
			margin-bottom: px-to-rem(24);
		}
	}

	&__input {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&:checked+.c-checkbox__icon {
			background-color: $app-color-secondary;
			width: px-to-rem(20);
			height: px-to-rem(20);
			border: 2px solid transparent;

			i {
				display: block;
			}
		}
	}

	&__icon {
		@include flex-center;
		width: px-to-rem(20);
		min-width: px-to-rem(20);
		height: px-to-rem(20);
		background-color: transparent;
		border: $app-border-secondary;
		border-radius: $app-radius;
		text-align: center;
		margin: px-to-rem(2) px-to-rem(12) 0 0;

		i {
			display: none;
			color: $app-color-white;

		}
	}
}