.c-table-wrapper {
	overflow-x: auto;
	max-width: 100%;
	padding: 0 px-to-rem(24);

	@include media-min($app-screen-desktop) {
		padding: 0;
	}
}

.c-table {
	width: 100%;
	min-width: px-to-rem(900);
	border-collapse: collapse;

	&__caption {
		position: absolute;
		left: -100%;
	}

	&__heading {
		color: $app-color-primary;
		font-weight: 600;
	}

	&__row {
		height: px-to-rem(40);
		padding-left: px-to-rem(20);
		position: relative;

		&:nth-of-type(even) {
			background-color: $app-color-white;
		}
	}

	&__heading,
	&__data {
		white-space: nowrap;
		font-size: $app-font-size-sm;
		line-height: $app-line-height-stack;
		min-width: px-to-rem(93);

		@include media-min($app-screen-desktop) {
			min-width: initial;
		}

		&:first-child {
			padding-left: px-to-rem(20);
			padding-right: 0;
		}
	}
}